{% extends 'base.html' %} 

{% block 'content' %}


<h2>Latest posts</h2> <h5>{{latest_posts|length}} new post{{ latest_posts|length|pluralize }}</h5>
<div class="row">
  {% for new_post in latest_posts %}
    {% include "post_card.html" with post=new_post %}
  {% endfor %}
</div>

<h2>Oldest posts</h2> <h5>{{oldest_posts|length}} new post{{ oldest_posts|length|pluralize }}</h5>
<div class="row">
    {% for old_post in oldest_posts %}
        {% include "post_card.html" with post=old_post %}
    {% endfor %} 
</div>

{% endblock %}
