{% extends 'base.html' %}

{% block 'content' %}
<div class="row">
    {% for post in blog_entries %}
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ post.title }}</span>
                <p>{{ post.body|truncatechars:10 }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'blog:blog_post_details' post.id %}">View blog post</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}